DATABASE_URL=postgresql+asyncpg://docflow:docflow_secret@postgres:5432/docflow_db
SYNC_DATABASE_URL=postgresql+psycopg2://docflow:docflow_secret@postgres:5432/docflow_db

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

SECRET_KEY=change_me_before_running

ENVIRONMENT=development
UPLOAD_DIR=/app/uploads

CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

SSE_MODE=pubsub